<table class="table table-bordered table-striped table-hover">
	<% @search.each do |person| %>
		<% if numMovies(person.id) > 10 %>
			<tr>
				<td style="width:15%">
					<%= image_tag("#{@configuration.base_url}w154#{person.profile_path}") if person.profile_path %>
					
				</td>
				<td>
					<h2><%= person.name if person.name %></h2>
					<ul>
						<% getCredits(person.id)["cast"].first(4).each do |movie|%>
						<li><%= movie['title'] %></li>
						<% end %>
					</ul>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>