<footer class="footer">
  <small>
    Site built by David Hodge and Evan Richards
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>